@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* General  */
body {
  font-family: "Lato", sans-serif;
  background-color: green;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#main_logo {
  color: green;
  font-size: 30px;
  font-style: italic;
}

/* Main */
.hero {
  margin-top: 40px;
  height: 50vh;
  background-image: url(./img/trenitalia_hero_2x.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.hero h1 {
  font-size: 3em;
}

.calc {
  /* height: 60vh; */
  background-color: green;
}

.display {
  display: none;
}

.d-block {
  display: block;
}

.ticket {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.bg_gray {
  background-color: gray;
}
